<h1>Owners</h1>

<a href="/owners/new">Add a new Knight!</a>
</br></br>
<div style = "margin-left: 20px">
  <table style="width:50%">
    <tr>
      <th align="left">Knight</th>
      <th align="left">Preference</th>
      <th align="center">Honour</th>
      <th align="center">Update</th>
      <th align="center">Kill Off</th>
    </tr>
    <% for owner in @owners %>
    <tr>
      <td><%= owner.name %></td>
      <td align="left"><%= owner.species_pref %></td>
      <td align="center"><%= owner.honour_level %></td>
      <td align="center"><form action="/owners/<%= owner.id %>/update" method="GET">
          <input type="submit" value="update"/></td>
      <td align="center"><form action="/owners/<%= owner.id %>/delete" method="POST">
          <input type="submit" value="delete"/></td>
    </tr>
    <% end %>
    <img src="../images/DVD-Knight.png" style="height:500px;" style="inline" align="right" padding = "20px" margin-right = "20px">
  </table>
</div>
