<h1>Mounts</h1>

<div style = "margin-left: 20px">
  <table style="width:50%">
    <tr>
      <th align="left">Mount</th>
      <th align="left">Admitted</th>
      <th align="left">Available</th>
      <th align="left">Delete</th>
    </tr>
    <% for animal in Animal.adoptees %>
    <tr>
      <td><%= animal.name %> the <%= animal.species %></td>
      <td><% times =Date.parse(animal.admission_date)
      time=times.strftime("%d, %B, %Y") %>
      <%= time %></td>
      <td><%= "Yes" if animal.ready_to_adopt == "t" %> <%= "No" if animal.ready_to_adopt == "f" %></td>
      <td><form action="/animals/<%= animal.id %>/delete" method="POST">
          <input type="submit" value="delete"/></td>
    </tr>
    <% end %>
  </table>
</div>
